[Desktop Entry]
Encoding=UTF-8
BinaryPattern=kmidi;
MimeType=audio/x-midi;audio/x-karaoke;
GenericName=Midi Synthesizer
GenericName[af]=midi sintetiseerder
GenericName[ar]=موالف Midi
GenericName[bg]=Синтезатор на Midi
GenericName[bs]=Midi sintisajzer
GenericName[cs]=Midi syntezátor
GenericName[da]=Midi-synthesizer
GenericName[de]=Midi-Synthesizer
GenericName[en_GB]=Midi Synthesiser
GenericName[eo]=Ludilo por MIDI-dosieroj
GenericName[es]=sintetizador MIDI
GenericName[et]=MIDI süntesaator
GenericName[fi]=Midi-syntetisaattori
GenericName[fr]=Lecteur de fichiers MIDI
GenericName[he]=סינתסייזר מידי
GenericName[hu]=MIDI szintetizátor
GenericName[it]=Sintetizzatore MIDI
GenericName[ja]=Midiシンセサイザー
GenericName[lt]=Midi sintezatorius
GenericName[lv]=Midi Sintezators
GenericName[nl]=Midi-synthesizer
GenericName[nn]=Midi-synt
GenericName[pt]=Sintetizador de MIDI
GenericName[pt_BR]=Sintetizador de MIDI
GenericName[ro]=Sintetizor MIDI
GenericName[ru]=Синтезатор midi
GenericName[sk]=Midi syntezátor
GenericName[sl]=Sintetizator MIDI
GenericName[sv]=Midi-synthesizer
GenericName[th]=ตัวสังเคราะห์เสียงมิดี้
GenericName[tr]=Midi birleştirici
GenericName[uk]=Синтезатор Midi
GenericName[ven]=Tshiiti tsha Midi
GenericName[xx]=xx
GenericName[zh_CN]=Midi 合成器
GenericName[zu]=Midi Umhlanganiseli
Name=KMidi
Name[af]=kmidi
Name[eo]=MIDI-ludilo
Name[fr]=KMIDI
Name[pt_BR]=MIDI
Name[sv]=Kmidi
Name[th]=มิดี้ - K
Name[xx]=xx
DocPath=kmidi/index.html
Exec=kmidi %m %i %f
Icon=kmidi
TerminalOptions=
Path=
Type=Application
Terminal=0
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
