[Desktop Entry]
BinaryPattern=kmidi;
Protocols=file;ftp;http;tar;cgi;
MimeType=audio/x-midi;audio/x-karaoke;
Comment=A Midi Player
Comment[ca]=Un reproductor midi
Comment[cs]=Pøehrávaè Midi souborù
Comment[da]=Et program der kan spille Midi-filer
Comment[de]=Ein Midi-Abspieler
Comment[eo]=Ludilo por Midi-dosieroj
Comment[es]=Un reproductor Midi
Comment[fi]=Midisoittaja
Comment[fr]=kmidi : Lecteur de fichier MIDI
Comment[hr]=Midi Player
Comment[hu]=Egy MIDI zenelejátszó
Comment[is]=kmidi:  Midi-spilari
Comment[it]=Un lettore di file Midi
Comment[ja]=Midi¥×¥ì¡¼¥ä¡¼
Comment[mi]=Egy MIDI zenelejátszó
Comment[no]=En Midi-avspiller
Comment[no_NY]=Ein midi-spelar
Comment[pl]=Odtwarzacz Midi
Comment[pt]=Um reprodutor de Midi
Comment[pt_BR]=Reprodutor de Midi
Comment[ro]=Program de cântat fiºiere în format midi
Comment[ru]=ðÒÏÉÇÒÙ×ÁÔÅÌØ Midi
Comment[sk]=Prehrávaè Midi súborov
Comment[sl]=Predvajalnik datotek MIDI
Comment[sr]=Alat za pu¹tanje midi fajlova
Comment[sv]=En MIDI-spelare
Name=Midi player
Name[ca]=Reproductor midi
Name[cs]=Pøehrávaè Midi souborù
Name[da]=Midi-afspiller
Name[de]=KMidi
Name[eo]=Midi-ludilo
Name[es]=Reproductor MIDI
Name[fi]=Midisoittaja
Name[fr]=Lecteur Midi
Name[hr]=KMidi
Name[hu]=Midi lejátszó
Name[is]=Midi-spilari
Name[it]=Lettore Midi
Name[ja]=Midi¥×¥ì¡¼¥ä¡¼
Name[mi]=Midi lejátszó
Name[no]=Midi-spiller
Name[no_NY]=Midi-spelar
Name[pl]=Odtwarzacz Midi
Name[pt]=Reprodutor de Midi
Name[pt_BR]=Reprodutor de Midi
Name[ro]=Cântãreþ midi
Name[ru]=ðÒÏÉÇÒÙ×ÁÔÅÌØ Midi
Name[sk]=Prehrávaè Midi súborov
Name[sl]=Predvajalnik MIDI
Name[sv]=MIDI-spelare
DocPath=kmidi/index.html
Exec=kmidi %m %i %f
Icon=kmidi
TerminalOptions=
Path=
Type=Application
Terminal=0
