[Desktop Entry]
BinaryPattern=kmidi;
Protocols=file;ftp;http;tar;cgi;
MimeType=audio/x-midi;audio/x-karaoke;
Comment=A Midi Player
Comment[af]=a midi speler
Comment[ar]=مشغل ملفات MIDI
Comment[az]=Bir Midi Çalğıcısı
Comment[bg]=Плеар на midi
Comment[br]=Ur soner Midi
Comment[bs]=Midi Player
Comment[ca]=Un reproductor midi
Comment[cs]=Přehrávač Midi souborů
Comment[da]=Et program som kan afspille Midi-filer
Comment[de]=Midi-Wiedergabe
Comment[el]=Παίξιμο MIDI
Comment[eo]=Ludilo por Midi-dosieroj
Comment[es]=Un reproductor MIDI
Comment[et]=MIDI failide mängimise rakendus
Comment[eu]=Midi Jolea
Comment[fi]=Midisoittaja
Comment[fr]=Lecteur de fichiers MIDI
Comment[gl]=Un reproductor Midi
Comment[he]=נגן מידי
Comment[hr]=Midi Player
Comment[hu]=Egy MIDI zenelejátszó
Comment[id]=Player Midi
Comment[is]=timidity:  Midi-spilari
Comment[it]=Lettore di file Midi
Comment[ja]=Midiプレーヤー
Comment[ko]=미디 연주기
Comment[lt]=Midi Grotuvas
Comment[lv]=Midi Atskaņotājs
Comment[mk]=Midi репродукција
Comment[mt]=Player Midi
Comment[nb]=En Midi-avspiller
Comment[nl]=een MIDI-speler
Comment[nn]=Ein midi-spelar
Comment[oc]=Un reproductor midi
Comment[pl]=Odtwarzacz Midi
Comment[pt]=Reprodutor de MIDI
Comment[pt_BR]=Reprodutor de Midi
Comment[ru]=Проигрыватель midi
Comment[sk]=Prehrávač Midi súborov
Comment[sl]=Predvajalnik datotek MIDI
Comment[sr]=Alat za puštanje midi fajlova
Comment[sv]=En MIDI-spelare
Comment[ta]=´Õ Á¢Ê ­Âì¸¢
Comment[tr]=Bir Midi Yürütücüsü
Comment[uk]=Програвач Midi
Comment[vi]=Trình chơi Midi 
Comment[xh]=Umdlali we Midi
Comment[xx]=xx
Comment[zh_CN]=Midi 播放器
Comment[zh_TW]=Midi 播放器
Comment[zu]=Umdlali we Midi
Name=Midi Synth
Name[af]=midi sintetiseerder
Name[ar]=مشغل MIDI
Name[az]=Midi sintezatoru
Name[bg]=Синтезатор на midi
Name[br]=Kenaozer Midi
Name[bs]=Midi sintisizer
Name[ca]=Sintetitzador midi
Name[da]=Midi Synth
Name[de]=Midi-Synthesizer
Name[eo]=Midi-ludilo
Name[es]=Sintetizador MIDI
Name[et]=MIDI süntesaator
Name[fi]=Midi-syntetisaattori
Name[fr]=Synthétiseur MIDI
Name[gl]=Sintetizador Midi
Name[hr]=Midi sintisizer
Name[hu]=KMidi szintetizátor
Name[is]=Midi-spilari
Name[it]=Sintetizzatore Midi
Name[ja]=Midiシンセサイザー
Name[lv]=Midi sintezators
Name[mk]=Midi синтисајзер
Name[mt]=Sintetizzatur Midi
Name[nl]=Midi-synth
Name[nn]=Midi-synt
Name[oc]=Sintetizador midi
Name[pl]=Synteza Midi
Name[pt]=Sintetizador de MIDI
Name[pt_BR]=Sintetizador de MIDI
Name[ru]=Синтезатор midi
Name[sk]=Midi syntéza
Name[sl]=Sintetizator MIDI
Name[sv]=MIDI-synth
Name[tr]=Midi bireştirici
Name[uk]=Синтезатор Midi
Name[vi]=Tổng hợp Midi 
Name[xh]=Udibaniso lwe Midi
Name[xx]=xx
Name[zh_CN]=Midi 合成器
Name[zh_TW]=Midi 合成器
DocPath=kmidi/index.html
Exec=kmidi %m %i %f
Icon=kmidi
TerminalOptions=
Path=
Type=Application
Terminal=0
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
