[Desktop Entry]
Encoding=UTF-8
BinaryPattern=kmidi;
Protocols=file;ftp;http;tar;cgi;
MimeType=audio/x-midi;audio/x-karaoke;
Comment=Midi Player
Comment[da]=Midi-afspiller
Comment[de]=Midi-Wiedergabe
Comment[es]=Reproductor MIDI
Comment[fi]=Midisoittaja
Comment[fr]=Un lecteur de fichiers MIDI
Comment[he]=נגן מידי
Comment[hu]=MIDI-lejátszó
Comment[it]=Lettore MIDI
Comment[lt]=Midi grotuvas
Comment[lv]=Midi Atskaņotājs
Comment[pt]=Reprodutor de MIDI
Comment[pt_BR]=Reprodutor de MIDI
Comment[sk]=Prehrávač Midi
Comment[sv]=Midi-spelare
Comment[ta]=Á¢Ê ­Âì¸¢
Comment[xx]=xx
Name=TiMidity Synth
Name[af]=timidity sintetiseerder
Name[de]=TiMidity-Synthesizer
Name[es]=Sintetizador TiMidity
Name[fi]=TiMidity syntetisaattori
Name[fr]=TiMidity
Name[hu]=TiMidity szintetizátor
Name[lv]=TiMidity Sintezators
Name[nl]=TiMidity synth
Name[nn]=TiMidity-synt
Name[pt]=Sintetizador TiMidity
Name[pt_BR]=Sintetizador TiMidity
Name[sk]=TiMidity syntéza
Name[sl]=Sintetizator TiMidity
Name[sv]=Timidity synth
Name[xx]=xx
DocPath=kmidi/index.html
Exec=timidity -iatv
Icon=kmidi
TerminalOptions=
Path=
Type=Application
Terminal=0
X-DCOP-ServiceType=None
