[Desktop Entry]
BinaryPattern=kmidi;
Protocols=file;ftp;http;tar;cgi;
MimeType=audio/x-midi;audio/x-karaoke;
Comment=A Midi Player
Comment[ca]=Un reproductor midi
Comment[cs]=Přehrávač Midi souborů
Comment[da]=Et program der kan spille Midi-filer
Comment[de]=Ein Midi-Abspieler
Comment[el]=Παίξιμο MIDI
Comment[eo]=Ludilo por Midi-dosieroj
Comment[es]=Un Reproductor de archivos MIDI
Comment[et]=Rakendus midi failide mängimiseks
Comment[fi]=Midisoittaja
Comment[fr]=Lecteur de fichier MIDI
Comment[gl]=Un reproductor Midi
Comment[he]=ידימ ןגנ
Comment[hr]=Midi Player
Comment[hu]=Egy MIDI zenelejátszó
Comment[is]=timidity:  Midi-spilari
Comment[it]=Lettore di file Midi
Comment[ja]=Midiプレーヤー
Comment[ko]=미디 연주기
Comment[lt]=Midi Grotuvas
Comment[lv]=Midi Atskaņotājs
Comment[mk]=Midi репродукција
Comment[nl]=een MIDI-speler
Comment[no]=En Midi-avspiller
Comment[no_NY]=Ein midi-spelar
Comment[oc]=Un reproductor midi
Comment[pl]=Odtwarzacz Midi
Comment[pt]=Um reprodutor de Midi
Comment[pt_BR]=Reprodutor de Midi
Comment[ro]=Program de redat fişiere de muzică MIDI
Comment[ru]=Проигрыватель midi
Comment[sk]=Prehrávač Midi súborov
Comment[sl]=Predvajalnik datotek MIDI
Comment[sr]=Alat za puštanje midi fajlova
Comment[sv]=En MIDI-spelare
Comment[ta]=´Õ Á¢Ê ­Âì¸¢
Comment[tr]=Bir Midi Yürütücüsü
Comment[uk]=Програвач Midi
Comment[zh_CN.GB2312]=Midi 播放器
Comment[zh_TW.Big5]=一個 Midi 播放器
Name=TiMidity synth
Name[ca]=Sintetitzador TiMidity
Name[cs]=TiMidi synth
Name[eo]=TiMidity-ludilo
Name[es]=Sintetizador TiMidity
Name[et]=TiMidity süntesaator
Name[fi]=tiMidity syntetisaattori
Name[fr]=Synthétiseur TiMidity
Name[gl]=Sintetizador TiMidity
Name[hr]=TiMidity sintisizer
Name[hu]=TiMidity szintetizátor
Name[is]=TiMidity spilarinn
Name[it]=Sintetizzatore TiMidity
Name[ja]=TiMidityシンセサイザー
Name[lv]=TiMidity sintezators
Name[mk]=TiMidity синтисајзер
Name[no_NY]=TiMidity-synt
Name[oc]=Sintetizador TiMidity
Name[pl]=synteza TiMidity
Name[pt]=Sintetizador TiMidity
Name[pt_BR]=Sintetizador MIDI
Name[ro]=Sintetizor TiMidity
Name[ru]=Синтезатор TiMidity
Name[sk]=TiMidi syntéza
Name[sl]=Sintetizator TiMidity
Name[tr]=TiMidity bireştirici
Name[uk]=Синтезатор TiMidity
Name[zh_CN.GB2312]=TiMidity 合成器
DocPath=kmidi/index.html
Exec=timidity -iatv
Icon=kmidi
TerminalOptions=
Path=
Type=Application
Terminal=0
