[Desktop Entry]
Encoding=UTF-8
BinaryPattern=kmidi;
MimeType=audio/x-midi;audio/x-karaoke;
GenericName=MIDI Synthesizer
GenericName[af]=Midi Sintetiseerder
GenericName[bs]=MIDI sintisajzer
GenericName[ca]=Sintetitzador MIDI
GenericName[cs]=MIDI syntezátor
GenericName[da]=MIDI-synthesizer
GenericName[de]=MIDI-Synthesizer
GenericName[el]=MIDI συνθεσάιζερ
GenericName[en_GB]=MIDI Synthesiser
GenericName[es]=Sintetizador MIDI
GenericName[et]=MIDI süntesaator
GenericName[fi]=Midi-syntetisaattori
GenericName[fr]=Synthétiseur MIDI
GenericName[he]=סינתסייזר MIDI
GenericName[hu]=MIDI szintetizátor
GenericName[it]=Sintetizzatore MIDI
GenericName[ja]=MIDI シンセサイザー
GenericName[lt]=MIDI sintezatorius
GenericName[nl]=MIDI-synthesizer
GenericName[nn]=MIDI-synt
GenericName[pl]=Syntezator MIDI
GenericName[pt]=Sintetizador MIDI
GenericName[pt_BR]=Sintetizador de MIDI
GenericName[ru]=Синтезатор midi
GenericName[sk]=MIDI syntezátor
GenericName[sl]=Sintetizator MIDI
GenericName[sv]=Midi-synthesizer
GenericName[tr]=MIDI Sentezleyici
GenericName[uk]=Синтезатор MIDI
GenericName[ven]=Tshiiti tsha MIDI
GenericName[xh]=Midi Synthesizer
GenericName[zh_CN]=MIDI 合成器
GenericName[zh_TW]=MIDI 合成器
GenericName[zu]=Umakhi we-MIDI
Name=TiMidity Synth
Name[af]=Timidity Sintetiseerder
Name[ar]=موالف TiMidity
Name[bg]=Синтезатор на TiMidity
Name[bs]=TiMidity sintisajzer
Name[ca]=Sintetitzador TiMidity
Name[de]=TiMidity-Synthesizer
Name[eo]=TiMidity-ludilo
Name[es]=Sintetizador TiMidity
Name[et]=TiMidity süntesaator
Name[fi]=TiMidity syntetisaattori
Name[fr]=TiMidity
Name[hr]=TiMidity sintisizer
Name[hu]=TiMidity
Name[it]=TiMidity
Name[ja]=TiMidityシンセ
Name[lv]=TiMidity Sintezators
Name[nl]=TiMidity synth
Name[nn]=TiMidity-synt
Name[pl]=synteza TiMidity
Name[pt]=Sintetizador TiMidity
Name[pt_BR]=Sintetizador MIDI
Name[ru]=Синтезатор TiMidity
Name[sk]=TiMidity syntéza
Name[sl]=Sintetizator TiMidity
Name[sv]=Timidity synth
Name[tr]=TiMidity Sentezleyici
Name[uk]=Синтезатор TiMidity
Name[zh_CN]=TiMidity 合成器
Name[zh_TW]=TiMidity 合成器
DocPath=kmidi/index.html
Exec=timidity -iatv
Icon=kmidi
TerminalOptions=
Path=
Type=Application
Terminal=0
X-DCOP-ServiceType=None
Categories=QT;KDE;AudioVideo
